<div id="<%= dom_id group %>">
  <p>
    <strong>Icon:</strong>
    <%= image_tag group.icon, class: "icon" %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= 00 %>
  </p>
</div>
