<h1>Snapscan</h1>

<div>
  <%= link_to user_session_path, class: "btn btn-primary" do %>
    LOG IN
  <% end %>
  
  <%= link_to new_user_registration_path, class: "btn btn-light" do %>
    SIGN UP
  <% end %>
</div>
