<div id="<%= dom_id expense %>">
  <p>
    <strong>Name:</strong>
    <%= expense.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>
  
  <p>
    <strong>Group:</strong>
    <%= expense.group_id %>
  </p>
</div>
