<%# Navbar title %>
<% content_for :navbar_title, "New Transaction" %>

<h1>New expense</h1>

<%= render "form", expense: @expense %>

<br>

<div>
  <%= link_to "Back to expenses", expenses_path %>
</div>
